<div class="iq-event-teaser">

    <div class="inner">
      <div class="content-holder">
        <a href="{{href}}">
          <p class="title">{{title}}</p>
        </a>
        <p class="sub-title">{{sub_title}}</p>

      </div>
    </div>

</div>

