<div class="iq-event-teaser">
  <a href="{{href}}">
    <div class="inner">
      </div>
      <div class="content-holder">
        <p class="title">{{title}}</p>
        <p class="sub-title">{{sub_title}}</p>
      </div>
    </div>
  </a>
</div>
